{% extends 'photo/base.html' %}
{% load static %}

{% block style %}
<style>
.navbar-brand img {
  xbackground-color: red;
}
</style>
{% endblock %}

{% block page %}
  <header>
    <nav class="navbar navbar-expand-lg  bg-dark d-print-none" data-bs-theme="dark">
      {% comment %} <nav class="navbar navbar-expand-lg xxnavbar-light xbg-light bg-dark d-print-none" data-bs-theme="dark"> {% endcomment %}
        <a class="navbar-brand" href="/photo/#">
          {% comment %} <img src="{% static 'photo/pic/photo_24.svg' %}" alt="photo logo" width="30" height="24" class="d-inline-block align-text-top" /> {% endcomment %}
          &nbsp; <i class="bi bi-camera-fill"></i> Foto
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
        <!-- menu items -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" id="menu_index" aria-current="page" href="{% url 'photo:photo_index' %}">Indeks</a>
            </li>
            {% if devel %}     
            <li class="nav-item">
              <a class="nav-link" aria-current="page" id="menu_album" aria-current="page" href="{% url 'photo:album' %}">Album</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" id="menu_slides" href="{% url 'photo:show' %}">Billeder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" id="menu_slides" href="{% url 'photo:slide' %}">Slide </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" id="menu_func" href="{% url 'photo:functions' %}">Funktioner</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" id="menu_admin" href="/admin" target="_blank">Admin</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <button class="nav-link" aria-current="page" id="menu_fuld" onclick="toggleFullScreen()">Fuldskærm</button>
            </li>
          </ul>
        </div>
    </nav>
  </header>

  {% block content %}
    <!-- content menu -->
  {% endblock %}

{% endblock %}

{% block script %}
   <!-- script menu -->
{% endblock %}
