<!DOCTYPE html>
<html lang=da>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="{% static 'photo/pic/photo_24.svg' %}" type="image/svg"  />   
    <link rel="shortcut icon" href="{% static 'photo/favicon.ico' %}" />
    <meta name="theme-color" content="#ee0000" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% comment %} 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="{% static 'photo/site.css' %}" rel="stylesheet" />  
    {% endcomment %}
    <title>Photo</title>
    {% block head %}
      <!-- head here -->
    {% endblock %}

    {% block style %}
      <!-- style here -->
    {% endblock %}
  </head>

  <body>
    <div class="container-fluid myflex portrait">
      {% block page %}
        <!-- page here -->
      {% endblock %}
    </div>
    {% comment %} <script src="{% static 'photo/js/scripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script> {% endcomment %}
    {% block script %}
      <!-- script here -->
     {% endblock %}

    
  </body>
</html>
