{% extends "photo/base_menu.html" %}
{% load static %}

{% block content %}

<div class="page">
    <h1>Photo</h1>
    {% if debug %}
         
    {% endif%}
   <h2>Functions</h2>
  
    <a class="btn btn-lg btn-primary"  href="{% url 'photo:photo_index' %}">Index</a>Index<br><br>
    <a class="btn btn-lg btn-primary" href="{% url 'photo:create_albums' %}">Create Albums</a>Create Albums<br><br>
    <a class="btn btn-lg btn-primary" href="{% url 'photo:create_albums' %}?clear=1">Clear and Create Albums</a>Clear and Create Albums<br><br>
 
</div>


{% endblock %}

{% block script %}
<script>
    //document.getElementById("menu_index").classList.add("active");
</script>
{% endblock %}