{% extends 'photo/base_menu.html' %}
{% load static %}
{% block style %}
<style>

.page1 {
    border: green solid 3px;
    height: 60vh;
    flex: 1;
}

.myimg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}

.carousel-inner {
   height: 100%;
   width: 100%;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

.slide-img {
    width: 100%;
    height: 100%;
    xbackground-color: aquamarine;
    object-fit: contain;
    object-position: center;
} 

</style>
{% endblock %}

{% block content %}
      <h3 class="d-print-none">{{folder}}</h3>
      <div id="carouselExample" class="carousel carousel-dark slide carousel-fade page" data-bs-ride="carousel" data-bs-interval="3000" data-bs-wrap="false">
        <div class="carousel-indicators d-print-none">
          {% for slide in slides %}
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-label="Slide {{ forloop.counter0 }}"></button>
          {% endfor %}
          </div>  
        <div class="carousel-inner">
          {% for slide in slides %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ slide.url }}" class="slide-img" alt="{{ slide.name }}" />
            {% comment %} <img src="{{ slide.url }}" class="d-block w-100 slide-img" alt="{{ slide.name }}" /> {% endcomment %}
            <div class="carousel-caption d-none d-md-block d-print-none">
              {% if devel %}
              <h5>FileName: {{slide.name }} </h5>
              <h5>Date: {{slide.atributes.DateTime}}</h5>
              <p>GPS: {{slide.atributes.gps}} {{slide.atributes.address}}</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      <button class="carousel-control-prev d-print-none" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next d-print-none" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  
    </div>
  <div class="footer d-print-none">
      <button class="btn btn-primary">Gem</button>
      <button class="btn btn-primary">Print</button>
      <button class="btn btn-danger">Pause</button>
      <button class="btn btn-primary">Skift</button>
  </div>
{% endblock %}

{% block script %}
  <script>
    document.getElementById("menu_slides").classList.add("active");
  </script>
{% endblock %}
