{% extends "photo/base0.html" %}
{% load static %}



{% block page %}

    <video class="xxslide-video" width="320" height="240" xautoplay xmuted controls >
        <source src="{{ pic2 }}" type="video/mp4">
        Cannot show video
    </video>


{% endblock %}

{% block script %}
<script>
    const video = document.querySelector("video");

    video.addEventListener("play", (event) => {
    console.log(
        "The Boolean paused property is now 'false'. Either the play() method was called or the autoplay attribute was toggled.",);
    });

    video.onplay = (event) => {
    console.log(
        "The Boolean paused property is now 'false'. Either the play() method was called or the autoplay attribute was toggled.", );
    };
</script>

{% endblock %}